
/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Mali:400,700');

/*body*/

body {
    background-color: black;
    color: white;
}



/*button colors*/

#blue {
    background-color: #3A3AF2;
}

#blue:active,
#blue.hover {
  background-color: #3A3AF2;
  cursor: pointer;
  -webkit-box-shadow: 2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  -moz-box-shadow:    2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  box-shadow:         2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
}

#green {
    background-color: #00FA9E;
}

#green:active,
#green.hover {
  background-color: #00FA9E;
  cursor: pointer;
  -webkit-box-shadow: 2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  -moz-box-shadow:    2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  box-shadow:         2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
}

#yellow {
    background-color: #ffff20;
}

#yellow:active,
#yellow.hover {
  background-color: #ffff20;
  cursor: pointer;
  -webkit-box-shadow: 2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  -moz-box-shadow:    2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  box-shadow:         2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
}

#red {
    background-color: #ea0a0a;
}

#red:active,
#red.hover {
  background-color: #ea0a0a;
  cursor: pointer;
  -webkit-box-shadow: 2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  -moz-box-shadow:    2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
  box-shadow:         2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px 2px 18px 2px rgba(247, 247, 247, 0.86), -2px 0px 18px 2px rgba(247, 247, 247, 0.86), 0px -2px 18px 2px rgba(247, 247, 247, 0.86);
}


.gamebutton {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

.top-row, .bottom-row {
    display: flex;
    justify-content: center;
}

.middle-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px auto;
}

h1 {
    margin-bottom: 80px;
    font-family: "Mali";
    font-weight: 700;
    font-size: 3.5em;
}

.gamearea {
  max-width: 550px;
  margin: 20px auto;
}

.btn-settings {
  font-family: "Mali";
  font-size: 3em;
  width: 75px;
  text-align: left;
  transition: 500ms;
}
.btn-settings:hover {
  color: #3632ea;
}


/*Modal*/

h4.sett-menu:hover {
    cursor: pointer;
}

.black-text,
.modal-title {
    color: black;
}